.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand img {
    max-height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
}

.navbar-brand span {
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
}